
.results-image {
    width:100vw;
    height:70vh;
}
.rating-bar {
    width: 90%; /* Adjust as needed */
    height: 15px; /* Adjust as needed */
    background: linear-gradient(
        to right,
        red 20%,
        blue 80%
    );
    margin-left: auto;
    margin-right: auto;
}
.bias-container {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.rating-bar-labels {
    display: flex;
}
.label-left {
    text-align: left;
}
.label-right {
    text-align: right;
}

