.select-account-container {
  padding: 3% 0% 0 3%;
}

.container {
  margin-top: 10%;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.accounts-container {
  width: auto;
  display: inline-block;
  flex-wrap: wrap;
  align-items: center;
}
.accounts-row {
    display: flex;
    flex-direction: row;
}
.account {
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.account img {
  scale: 0.8;
}

.heading {
  text-align: center;
}
